
<h1>Comentarios</h1>

<table>
  <thead>
    <tr>
      <th>Autor</th>
      <th>Conteudo</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.autor %></td>
        <td><%= comentario.conteudo %></td>
        <td><%= comentario.post_id %></td>
        <td><%= link_to 'Show', comentario %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_comentario_path(comentario) %></td>
        <td><%= link_to 'Destroy', comentario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
       </tr>
     <% end %>
    </tbody>
    </table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Comentario', new_comentario_path %>
<% end %>
